{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block body %}
<div class="container-sm">

    <h1><strong></strong></h1>
    <div class="text-center">
    <img src="/static/img_geo.png" class="rounded">

        <div class="alert alert-warning" role="alert">
            А вы что думали, я дам свое место положение?
            <hr>
            Но знайте, я всегда рядом
        </div>
        <div class="alert alert-danger" role="alert">

            И всегда смогу помочь
        </div>
    </div>
</div>
{% endblock %}