{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container-sm"></div>
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Похимичим?</h1>
    <p class="fs-5 text-muted">Ниже представлены товары, которые можно приобрести и получить список статей, так же можно зарегистрироваться и бесплатно получить несколько рецептов.</p>
  </div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Бесплатно</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">0 руб<small class="text-muted fw-light">/месяц</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>3 полных рецепта</li>
              <li>Помощь по email</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Зарегестрироваться</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Pro версия</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">200 руб<small class="text-muted fw-light">/месяц</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>5 рецептов, с большим потенциалом</li>
              <li>Расширенная потдержка по email</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Преобрести</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">А оно того стоит?</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">500 руб<small class="text-muted fw-light">/месяц</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 рецептов для приготовлений дома</li>
              <li>Помощь по email и по telegram</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Преобрести</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
