{% extends 'base.html' %}

{% block title %}
Обнавление статьи
{% endblock %}

{% block body %}
<div class="container-sm">
    <h1>Редакция статьи</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" value="{{ article.title }}" placeholder="Введите название статьи"><br>
        <textarea name="intro" id="intro" class="form-control" rows = "5"  placeholder="Введите анонс">{{ article.intro }}</textarea><br>
        <textarea name="text" id="text" class="form-control" rows = "20" placeholder="Основной текст">{{ article.text }}</textarea><br>
        <input type="submit" class="btn btn-success" value="Обновить">
    </form>
</div>
{% endblock %}
